@charset "utf-8";

.wrapper{width: 100%; position: relative;background-color: #f1f1f1; min-width: 1890px;}
.membership-wrap{width: 1890px; position: relative; margin: 0 auto;
    background: url(../images/sub_login/login-background-img.png) no-repeat 0 0; padding-bottom: 300px;}
.membership{width: 1000px; margin: 0 auto;}

.quick-banner{ width: 160px; height: 27px;margin-bottom: 130px; border: 1px dotted #666;padding: 2px 18px 6px 18px;}
.quick-banner a{width: 160px; height: 27px;font-size: 14px; color: #f1f1f1;  display: block;
    background: url(../images/contents/btn_next.png) no-repeat 125px 3px; line-height: 27px; }

.membership-title{text-align: center; color: #fff; font-size: 45px; margin-bottom: 20px;}

.membership-box{width: 1000px; height: 1300px; background-color: #fff; padding: 40px 100px; box-sizing:border-box ;}
.membership-box .member-step{width:815px;padding-bottom: 40px;}
.membership-box .member-step li{width: 200px; float: left; 
            background-color: #c1c1c1; text-align: center;
             font-size: 16px; font-weight: 500; padding: 15px 0 ; color: #fff; margin-left: 5px;}
.membership-box .member-step li:first-child{ margin-left: 0;}
.membership-box .member-step .current-step{background-color: #284273;}

.membership-box .icon-chk{margin: 0 0 20px 80px; font-size: 14px;}
.membership-box .icon-chk span{color: tomato;}

.membership-frm{ width: 730px ;margin: 0 auto; border-top: 1px solid #cbcbcb;}
.member-table .necessary{background: url(../images/sub_login/imp-txt.png) no-repeat 0 10px; padding-left: 10px;}
.member-table .necessary1{background: url(../images/sub_login/imp-txt.png) no-repeat 0 40px; padding-left: 10px;}

.member-table .btn-idchk{border: none; width: 80px; height: 30px; background-color: #284273; color: #fff; margin-left: 7px;}

.member-table .phone-num{width: 90px;}
.member-table .btn-address{border: none; width: 100px; height: 30px; background-color: #284273;color: #fff}
.member-table .address-box2{width: 240px;}
.member-table .address-box1, .address-box2{margin-top: 7px;}

.member-table .info-txt{padding-top: 7px; font-size: 12px;}

.member-table tbody tr{border-bottom: 1px solid #cbcbcb;}
.member-table tbody tr td{padding: 30px 0 30px 10px;}
.member-table tbody tr td:first-child{font-size: 15px; color: #32406d; font-weight: 500;}
.member-table input[type="text"], .pw-check{border: 1px solid #cbcbcb; height: 30px;}
.member-table .select-bar1{border: 1px solid #cbcbcb;  height: 30px; width: 90px;}
.member-table .select-bar2{border: 1px solid #cbcbcb;  height: 30px; width: 110px;}

.membership-frm .btn-join{text-align: center; margin-top: 40px;}
.membership-frm .btn-join button{width: 90px; height: 40px; background-color: #284273; color: #fff;
                                 border: none; outline: none;}
.membership-frm .btn-join .btn-cancel{margin-left: 60px;}
.membership-frm .btn-join button:hover{background-color: rgb(255, 99, 71);}

